<!DOCTYPE html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/images/lm-logo.png"/>

  <!-- Font -->
  <script src="//use.edgefonts.net/josefin-sans.js"></script>
  <script src="//use.edgefonts.net/muli:n3:all.js"></script>

  <!-- Bootstrap -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

  <!-- Font Awesome -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="stylesheets/nav.css" rel="stylesheet">
  <link href="stylesheets/mainStyle.css" rel="stylesheet">
  <link href="stylesheets/topBanner.css" rel="stylesheet">

  <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
  <script src = "javascripts/mainApp.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular-route.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>

  <base href="/">

  <title> Louis Murray </title>

</head>
<body ng-app="mainApp">

    <nav>
      <div class="mobileNav">
        <a href="#" class="bt-menu-trigger"><span>Menu</span></a>
        <div id="bt-menu" class="bt-menu">

          <ul>
            <li><a href="/" ng-click="changeRoute('home')">Home</a></li>
            <li><a href="/photography" ng-click="changeRoute('photography')">Photography</a></li>
            <li><a href="/work" ng-click="changeRoute('work')">Work</a></li>
            <li><a href="/education" ng-click="changeRoute('education')">Education</a></li>
          </ul>
          <ul>
            <li><a href="https://twitter.com/cheesburg" class="bt-icon" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://github.com/louis-murray" target="_blank" class="bt-icon"><i class="fa fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/louis-murray-a36810101" target="_blank" class="bt-icon"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navContainer">
        <ul class="navigation">
          <li><a class="navLink" href="/" ng-click="changeRoute('home')">Home</a></li>
          <span class="glyphPos glyphicon glyphicon-plus" aria-hidden="true"></span>
          <li><a class="navLink" href="/photography" ng-click="changeRoute('photography')">Photography</a></li>
          <span class="glyphPos glyphicon glyphicon-plus" aria-hidden="true"></span>
          <li><a class="navLink" href="/work" ng-click="changeRoute('work')">Work</a></li>
          <span class="glyphPos glyphicon glyphicon-plus" aria-hidden="true"></span>
          <li><a class="navLink" href="/education" ng-click="changeRoute('education')">Education</a></li>
        </ul>

      </div>
    </nav>


      <div class="topBanner">
        <div class="imageContainer">
          <img class="logo img-responsive" src="/images/sideFiller.svg">
          <img class="logo img-responsive" src="/images/logo.svg">
          <img class="logo img-responsive" src="/images/sideFiller2.svg">
        </div>
      </div>

    <div ng-view class="third"></div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="javascripts/homepage.js" async></script>
      <script src="javascripts/borderMenu.js" async></script>

</body>
