<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 eduCardStyle">
      <div class="header">
        Education
      </div>
      <div class="school">

          <div class="row">
            <div class="col-xs-4 col-md-3 top-smallest imageCenter">
              <div class="kingsBorder">
                <img class="kingsImg img-responsive" src="/images/KingsK.svg">
              </div>
            </div>
            <div class="col-xs-8 col-md-9 top-smallest">
              <div class="kingsInfo">
                King's College<br>
                Computer Science - Business
              </div>
            </div>
          </div>

      </div>
      <div class="highlightedProjects">
        <div class="subHeader">
          Highlight Projects
        </div>

          <div class="row rowStyle">
            <div class="col-xs-4 year smallest">
              Freshman
            </div>
            <div class="col-xs-8 project smallest">
              <span class="title">Text Adventure Game</span>
              <div class="projectDescription">
                A text based adventure game developed in Java. First college project that went all the way through the development process including design, testing and implementation.
              </div>
            </div>
          </div>
          <div class="row rowStyle">
            <div class="col-xs-4 year smallest">
              Sophomore
            </div>
            <div class="col-xs-8 smallest">
              <span class="title">Search Engine</span>
              <div class="projectDescription">
                A Desktop application that implemented Google's Map Reduce and Page Rank algorithms to build a working search engine.
              </div>
            </div>
          </div>
          <div class="row rowStyle">
            <div class="col-xs-4 year smallest">
              Junior
            </div>
            <div class="col-xs-8 smallest">
              <span class="title">Photo Editor</span>
              <div class="projectDescription">
                A Photo editing application that took advantage of Parallelism to allow processes to run faster. The application was able to change an image to black and white, blur an image, remove red eye and blend two images.
              </div>
            </div>
          </div>
          <div class="row rowStyle">
            <div class="col-xs-4 year smallest">
              Senior
            </div>
            <div class="col-xs-8 smallest">
              To be announced!
            </div>
          </div>

      </div>
      <div class="bottomDesign">
        <img class="sideBottom" src="/images/bottomDesignSide.svg" height="7px" width="100px">
        <img class="bottom" src="/images/bottomDesign.svg">
        <img class="sideBottom " src="/images/bottomDesignSide.svg">
      </div>
    </div>
  </div>
</div>
