<div class="container">
  <div class="row">

    <div class="cardStyle col-xs-10 col-xs-offset-1">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1 descContainer">
            <div class="headerText">
              Hello
            </div>
            <h3 class="desc">
              My name is Louis. I am a very motivated creator who enjoys to help turn ideas into a reality. I'm eager to take on challenges that would take me out of my comfort zone and push me to achieve more.
              If you would like to reach me, my email is <span class="email">louis@loumur.com</span> or connect with me through social media!

            </h3>
            <div class="socialMediaLinks">
              <a href="https://twitter.com/cheesburg" class="social" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://github.com/louis-murray" class="social" target="_blank"><i class="fa fa-github"></i></a>
              <a href="https://www.linkedin.com/in/louis-murray-a36810101" target="_blank" class="social"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="bottomDesign">
              <img class="sideBottom" src="/images/bottomDesignSide.svg" height="7px" width="100px">
              <img class="bottom" src="/images/bottomDesign.svg">
              <img class="sideBottom " src="/images/bottomDesignSide.svg">
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
