
  <div class="container">
    <div class="row photoRow">
      <div class="col-xs-10 col-xs-offset-1 photoCardStyle">
        <div class="headerTextPhoto">
          Photography
        </div>
        <div id="nature" class="image">
        </div>
        <div class="imageLabel">
          Nature
        </div>
        <div id="cars" class="image">
        </div>
        <div class="imageLabel">
          Cars
        </div>
        <div id="industrial" class="image">
        </div>
        <div class="imageLabel">
          Industrial
        </div>
        <div id="portrait" class="image">
        </div>
        <div class="imageLabel">
          Portrait
        </div>
        <div id="digital" class="image">
        </div>
        <div class="imageLabel">
          Digital Art
        </div>
        <div class="bottomDesign">
          <img class="sideBottom" src="/images/bottomDesignSide.svg" height="7px" width="100px">
          <img class="bottom" src="/images/bottomDesign.svg">
          <img class="sideBottom " src="/images/bottomDesignSide.svg">
        </div>
      </div>
    </div>
  </div>

<script src="javascripts/photography.js" async></script>
