<div class="container">
  <div class="workRow">


      <div class="col-lg-6">
        <div class="workCardContainer">
          <div class="workCardIcon">
            <i class="workGlyph glyphicon glyphicon-send"></i>
          </div>
          <div class="workCard">
            <div class="compName">
              PFIT Inc
            </div>
            <div class="compDesc">
              Position: Software Engineer
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="workCardContainer">
          <div class="workCardIcon">
            <i class="workGlyph glyphicon glyphicon-fire"></i>
          </div>
          <div class="workCard">
            <div class="compName">
              Vanguard
            </div>
            <div class="compDesc">
              Position: IT C2C Intern
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="workCardContainer">
          <div class="workCardIcon">
            <i class="workGlyph glyphicon glyphicon-star"></i>
          </div>
          <div class="workCard">
            <div class="compName">
              Rappid Development
            </div>
            <div class="compDesc">
              Position: Software Engineer
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="workCardContainer">
          <div class="workCardIcon">
            <i class="workGlyph glyphicon glyphicon-tint"></i>
          </div>
          <div class="workCard">
            <div class="compName">
              PSC
            </div>
            <div class="compDesc">
              Position: Web Development Intern
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="workCardContainer">
          <div class="workCardIcon">
            <i class="workGlyph glyphicon glyphicon-book"></i>
          </div>
          <div class="workCard">
            <div class="compName">
              King's College
            </div>
            <div class="compDesc">
              Position: Academic Skills Officer Peer Tutor
            </div>
          </div>
        </div>
      </div>

  </div>
</div>
